@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #050505;
  padding-top: 100px; 
  font-family: 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
}

/* Fixed navbar ke neeche content dabne se bachane ke liye */
section {
  scroll-margin-top: 100px; /* navbar ki height jitna */
}