/* @import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #050505;
  padding-top: 100px; 
  font-family: 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
}

section {
  scroll-margin-top: 100px; 
} */


@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --orange1: #e67f09;
  --orange2: #ffb300;
  --silver: #d9d9d9;
  --black: #050505;
  --glass: rgba(255, 255, 255, 0.06);
  --border-orange: rgba(255, 138, 0, 0.35);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--black);
  color: var(--silver);
  padding-top: 110px;
  font-family: "Poppins", "Segoe UI", sans-serif;
}

section {
  scroll-margin-top: 110px;
}